<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kym">
	<select id="dual" resultType="Integer">
		select 1 from dual
	</select>

	<!-- private String field1; private int field2; -->
	<select id="voselect" resultType="kym.KymVO">
		select 'dbfield1' field1 , 999
		field2 from dual
	</select>
	<select id="listselect" resultType="kym.KymVO">

		select 'dbfield1' field1 ,
		888 field2 from dual
		union
		select 'dbfield2' field1 , 9999 field2 from
		dual
	</select>

	<select id="selectwhere1" resultType="String">
		SELECT NAME FROM CUSTOMER
		WHERE ID = #{raaaa}
		<!-- 파라메터가 기본형 변수의 값만있다면 key값이 없으므로 #{아무값} 써도됨 -->
	</select>
	
	<select id="selectwhere2" resultType="customer.CustomerVO">
		SELECT * FROM CUSTOMER
		WHERE ID = #{id} AND NAME = #{name}
	</select>

	<select id="selectwhere3" resultType="customer.CustomerVO">
		SELECT * FROM CUSTOMER
		WHERE ID > #{asdsdfkm}
	</select>
	<select id="mapselect" resultType="String">
		SELECT PLAYER_NAME
		FROM KOREA
		WHERE PLAYER_NUM = #{num}
		AND PLAYER_NAME =  #{pname}
	
	</select>

</mapper>